{% extends 'news/index.html' %}
{% load static %}
{% block show-recommend %}
{% endblock %}

{% block content %}
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->
      <div id="comments">
        <h2>Register</h2>
        <form action="#" method="post">
          <div class="one_third">
                {% csrf_token %}
                {% for f in form %}
                <p><label for="{{ f.id_for_label }}">{{f.label}}  </label>{{ f }}</p>
                <p><font size="3" color="red" face="serif">{{ f.errors.as_text }}</font></p>
                {% endfor %}
          <div>
            <input type="submit" name="submit" value="Register">
          </div>
          </div>

        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
{% endblock %}

{% block prefooter %}
{% endblock %}